body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #298a08;
}
.quem-somos {
    background-color: greenyellow;
    color: white;
}
.margin {

    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros {
    background-color: aquamarine;
}
.bg-footer {
    background-color: black;
    color: white;
}